@use "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
        "primary": (
          "base": #8b2018
        ),
        "danger": (
          "base": #c54c44
        ),
        "error": (
          "base": #c54c4429
        ),
        "white": #ffffff
    ),
    $text: (
        "secondary": #7E858A
    ),
    $border-radius: (
        "round": 15px
    ),
    $border-color: (
        "": #D9E1E7
    ),
    $input: (
        "border-radius": 15px
    ),
    $font-family: (
      "": '"nunito sans", sans-serif'
    )
);

@import "tiptap";

:root {
  --el-text-color-link: #809FB8;
}
